@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
:root{
    --primarycolor: #EA580C ;
    --graycolor: #737373;
    --off-white: #e5e5e5 ;


}
HR{
    margin: 3rem 0rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width: 600px;
    margin: auto;
}

.link {
text-decoration: none;
padding: 0.5rem 1rem ;
}
.link-primary{
    background-color: var(--primarycolor);
    border-radius: 0.5rem;
    color: white;

}.link-secondary{
    border-radius: 0.5rem;
   color: var(--primarycolor);
    border: 1px solid var(--primarycolor); 
}
.NON-BULLET{
    list-style: NONE;
}
.LIST-ITEM-INLINE{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primarycolor);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .navpills{
    text-align: right;
}
.navigation .link{
    color: white;
}
.hero{
    padding: 2rem;
}
.hero .hero-img{
max-width: 400px;
display: block;
margin: auto;
}
.hero .hero-heading{
    color:var(--graycolor);
 text-align: center;
 font-size: xx-large;    
 padding: 1rem;
}
.hero .hero-heading .heading-inverted{
    color: var(--primarycolor);
}
.section h1 {
    text-align: center;
}

.ow{
    background-color: var(--off-white);
}

section{
    padding: 2rem;
}
.footer{
    background-color: var(--primarycolor);
    text-align: center;
    padding: 2rem 1rem;
    color: white;
    border-top-right-radius: 1rem;
}
.footer .link{
color: white;
}
.footer ul{
    padding-inline-start: 0px;
}

